extends layout

mixin showArray(title, arr)
  +property(title, !!arr && arr.length > 0 ? arr.join(', ') : 'none')
  
block content
  a(href=href) &lt;&lt; All components
  h1
    | #{component.name} &nbsp;
    select#versions
      each version in component.allVersions
        option(value=version, selected=(version === component.version ? "selected" : ""))=version
  p=component.description

  h2 Component Info
  +property('Repository', component.repository || 'not available', !!component.repository)
  +showArray('Node.js dependencies', dependencies)
  +showArray('Plugin dependencies', component.oc.plugins)

  h2 Parameters
  - if(!component.oc.parameters)
    p none
  - else {

    div#plugins.table
      div.row.header
        div.t-25 Name
        div.t-25 Type
        div.t-25 Mandatory
        div.t-25 Example

      - for(var pName in component.oc.parameters){
        - if(component.oc.parameters.hasOwnProperty(pName)){
          - var p = component.oc.parameters[pName];
          div.row
            div.t-25=pName
            div.t-25=p.type
            div.t-25=(p.mandatory ? 'yes' : 'no')
            div.t-25=p.example
        - }
      - }
  - }

  h2 Code
  div.code
    pre
      code
        | &lt;oc-component href=&quot;#{href + component.name + '/' + component.version + '/'}&quot;&gt;&lt;/oc-component&gt;

  h2 Preview
    iframe.preview(src='~preview/' + sandBoxDefaultQs)

block scripts
  script.
    if(!!window.hljs)
      hljs.initHighlightingOnLoad();

    var oc = oc || {};
    oc.cmd = oc.cmd || [];

    oc.cmd.push(function(){ console.log('hi');
      $('#versions').change(function(){ console.log('changed');
        window.location = '#{href + component.name}/' + $(this).val() + '/~info';
      });
    });
