extends layout

block content
  h1 OpenComponents Registry
  p Base url: #{href}
  p Version: #{ocVersion}
  p Components: #{components.length}
  p Components releases: #{componentsReleases}
  h2 Components
  div#components-header.componentRow
    div.title Component
    div.version Latest version
    div.activity Activity

  each component in components
    a(href=component.name + '/' + component.version + '/~info')
      div(id="component-" + component.name).componentRow
        div.title
          p.name= component.name
          span.description= component.description
        div.version= component.version
        div.activity= component.allVersions.length
        div.link