extends layout

block content
  - var isLocal = (type !== 'oc-registry');
  +property('Base url', href, true)
  +property('Version', ocVersion)
  +property('Components', components.length)
  if !isLocal
    +property('Components releases', componentsReleases)
  +property('Registry type', isLocal ? 'Local dev registry' : 'On-line registry')

  h2 Components

  form#filter-components
    input.search(placeholder="Filter by component name")

  .row.double.header.componentRow.table
    div(class="title t-" + (isLocal ? '80' : '60'))
    .t-10
    .version.t-10 Latest version
    if !isLocal
      .date.t-10 Updated
      .activity.t-10 Activity

  each component in components
    a(href=component.name + '/' + component.version + '/~info')
      .componentRow.row.double.table(id="component-" + component.name)
        div(class="title t-" + (isLocal ? '80' : '60'))
          p.name= component.name
          span.description= component.description 
        .state.t-10
          if component.oc.state
            span(class='component-state-' + component.oc.state.toLowerCase())= component.oc.state
        .version.t-10= component.version
        if !isLocal
          .date.t-10.two-rows= component.oc.stringifiedDate
          .activity.t-10= component.allVersions.length

block scripts
  script.
    var oc = oc || {};
    oc.cmd = oc.cmd || [];

    oc.cmd.push(function(){

      var changed = function(){
        var componentsList = !{JSON.stringify(componentsList)},
            s = $('.search').val(),
            r = new RegExp(s);

        if(!s){
          $('.componentRow').removeClass('hide');
        } else {
          for(var i = 0; i < componentsList.length; i++){
            var matches = !!componentsList[i].match(r),
                selector = $('#component-' + componentsList[i]);

            selector[matches ? 'removeClass' : 'addClass']('hide');
          }
        }

        return false;
      };

      $('#filter-components').submit(changed).keyup(changed);
    });
