#components-list.box
  form#filter-components
    .filters
      input.search-filter(type="text" placeholder="Filter by component name")
      input.author-filter(type="text" placeholder="Filter by component author")
    .states
      span Hide:
      +selectedCheckbox("deprecated")
      +selectedCheckbox("experimental")

  .row.header.componentRow.table
    .title
    .author Author
    div Latest version
    if !isLocal
      .date Updated
      .activity Activity

  each component in components
    a(href=component.name + '/' + component.version + '/~info')
      - var classes = ['componentRow', 'row', 'table'];
      - if(component.oc.state === 'deprecated' || component.oc.state === 'experimental') classes.push('hide');
      div(id="component-" + component.name, class=classes)
        .title
          p.name= component.name
          span.description= component.description 
        if component.oc.state
          .state(class='component-state-' + component.oc.state.toLowerCase())= component.oc.state
        .author= component.author.name
        div= component.version
        if !isLocal
          .date= component.oc.stringifiedDate
          .activity= component.allVersions.length
